<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
    <h1 th:text="|id: ${employee.id} の従業員情報 編集ページ|"></h1>
    <div>（パスワードは変更する場合のみ入力してください）</div>

    <form method="post" th:action="@{/employee/update/{aid}(aid=${employee.id})}" th:object="${employee}">
        <input type="hidden" th:field="*{id}">
        <label for="code">社員番号</label>
        <input type="hidden" th:text="*{authentication.code}" th:field="*{authentication.code}">
        <br>
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}" th:errorclass="err">
        <span th:errors="*{name}" class="err"></span>
        <br>
        <label for="password">パスワード</label>
        <input type="text" name="password" id="password">
        <br>
        <label for="role">権限</label>
        <select th:field="*{authentication.role}" id="role">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <br>
        <input type="submit" value="投稿">
    </form>
    <a th:href="@{/employee/delete/{id}(id=${employee.id})}">この従業員を削除する</a>
    <br>
    <a href="/employee/list">一覧に戻る</a>
</body>
</html>